* {
    font-family: Verdana, "Times New Roman", sans-serif;
    color: grey;
    font-size: 30px;
    text-align: center;
}


body {
    background-color: rgb(60, 60, 85);
}

img {
    height: auto;
    width: 400px;
}

.list {
    text-align: center;
}

.listel {
    display: inline-block;
    text-align: left;
}

li{
    color: white;
    text-align:left;
